<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dual Licensing</title>
  <link href="styles.css" rel="stylesheet">
  <meta name="description" content="the dual licensing business model">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="duallicensing.com">
  <meta name="twitter:description" content="the dual licensing business model">
  <meta name="og:type" content="website">
  <meta name="og:title" content="duallicensing.com">
  <meta name="og:description" content="the dual licensing business model">
</head>
<body>
  <header>
    <h1>Dual Licensing</h1>
  </header>
  <main>
    <section id="what">
      <h2>What is dual licensing?</h2>
      <p>Dual licensing is a business model for creative work covered by <a href="https://en.wikipedia.org/wiki/Copyright">copyright</a>. In software, dual licensing means giving everyone free permission to use the software in some ways while selling permission to use it in others.</p>
      <p>For example, a developer might allow noncommercial use of their software for free while charging for commercial use.  Or they may allow use of their work in free, open projects while charging for use in closed, proprietary ones.</p>
      <p>Dual licensing is sometimes called <a href="https://www.fsf.org/blogs/rms/selling-exceptions">“selling exceptions”</a>. The license terms for free use are “the rule”. Paid permissions to break that rule are the “exceptions”.</p>
    </section>
    <section id="who">
      <h2>Who is dual licensing?</h2>
      <ul>
        <% for (const licensor of licensors) { %>
        <li>
          <a href="<%= licensor.url %>"><%= licensor.name %></a><% if (licensor.formerly) { %> (formerly <%= licensor.formerly %>)<% } %><% if (licensor.products) { %>:
            <% for (const [index, product] of licensor.products.entries()) { %>
              <% if (product.url) { %><a href="<%= product.url %>"><%= product.name %></a><% } else { %><%= product.name %><% } %><% if (index < (licensor.products.length -1 )) { %>, <% } %>
              <% if (product.announcement) { %> (<a href="<%= product.announcement %>">announcement</a>)<% } %>
            <% } %>
          <% } %>
        </li>
        <% } %>
      </ul>
      <p>Missing someone? <a href="https://github.com/licensezero/duallicensing.com/edit/main/data.yml">Send a pull request!</a></p>
    </section>
    <section id="historic">
      <h2>Any historic examples?</h2>
      <ul>
        <% for (const licensor of historic) { %>
        <li>
          <a href="<%= licensor.url %>"><%= licensor.name %></a>
        </li>
        <% } %>
      </ul>
    </section>
    <section id="learn">
      <h2>Where can I learn more?</h2>
      <ul>
        <li>
          <a href="https://indieopensource.com/public-private/indies">indieopensource.com’s Public-Private Licensing for Indies</a>
        </li>
        <li>
          <a href="https://www.gnu.org/philosophy/pragmatic.html">Richard Stallman’s Copyleft: Pragmatic Idealism</a>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>duallicensing.com is a project of <a href="https://artlessdevices.com">Artless Devices</a>.</p>
  </footer>
</body>
</html>
