html {
  font-family: sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

body > header,
body > nav,
body > main,
body > footer {
  margin: 0 auto;
  max-width: 37rem;
  padding: 0 1rem;
}

body > footer {
  border-top: 1px solid black;
  font-size: 85%;
  padding-bottom: 3rem;
  text-align: right;
}

a[href] {
  border-bottom: 1px dashed #999;
  color: black;
  text-decoration: none;
}

a[href]:hover {
  border-bottom: 1px dashed #977;
  color: #977;
}

ol li, ul li {
  padding: 0.25rem 0;
}

body > nav ol {
  list-style-type: none;
  padding: 0;
}

ul {
  padding: 0 0 0 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: white;
  }
  a[href] { color: lightblue; }
}
